default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: blog
  username: akzhol
  password: aibraimov
  host: localhost
  port: 5432
  schema_search_path: myapp,sharedapp,public
  min_messages: notice

test:
  <<: *default
  database: blog_test


production:
  <<: *default
  database: blog_production
  username: blog
  password: <%= ENV['BLOG_DATABASE_PASSWORD'] %>
